@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #4B0082;
    font-family: "Roboto", sans-serif;
}

.container-logotipo {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-cadastro {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.section-cadastro {
    background-color: #D9D9D9;
    width: 60%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.purple-input {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid purple;
    outline: none;
    font-size: 16px;
    color: #4B0082;
    background-color: transparent;
}

.purple-input::placeholder {
    color: #4B0082;
    opacity: 1.0;
}

.purple-input:focus {
    border-bottom: 2px solid #4B0082;
}

.txt-informacoes-pessoais,
.txt-contato {
    color: #4B0082;
    text-align: center;
}

.purple-input-data-nascimento {
    width: 40%;
    text-align: center;
}

.btn-cadastrar {
    background-color: #008000;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 15px 30px; /* Aumento do padding */
}

.container-buttons {
    display: flex; /* Adicionando display flex */
    justify-content: center; /* Centralizando os botões na horizontal */
    margin-top: 30px;
    padding: 20px;
}

.label-genero, .label-data-nascimento {
    font-family: "Roboto", sans-serif;
    color: #4B0082;
    padding: 10px;
}

/* Media queries para tornar a página responsiva */
@media only screen and (max-width: 768px) {
    .section-cadastro {
        width: 90%; /* Alterado para uma porcentagem */
        max-width: 400px; /* Adicionado um máximo para garantir que não fique muito largo em telas maiores */
        padding: 10px; /* Ajuste do padding para melhorar o layout em dispositivos menores */
    }
}

.purple-input {
    font-size: 14px;
}
